body{background-image: linear-gradient(#ffffff,#8888); height: 769px;}
form{text-align: center; color: white;}
.ano{font-size: 13px; text-align: left; margin-bottom: 10px;}
.caixa2{margin-left: 15px;}
.coluna{background-color: black;}
.container{margin-top: 200px;}
.container2{margin-top: 100px;}
.img0{height: 75px; margin-top: 10px;}
.img1{height: 320px; margin-top: 20px; margin-bottom: 20px; margin-left: 15px;}
.linha1{margin-top: 20px;}
.linha2{margin-top: 10px;}
.linha3{background-color: white;}
.meiao{margin-left: 25px;}
.meiao2{margin-top: 15px; margin-left: 40px; text-align: center; margin-bottom: 20px;}
.meiao3{margin-left: 40px;}